rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /courses/{courseId} {
      allow read, write: if true;
    }
    match /subjects/{subjectId} {
      allow read, write: if true;
    }
    match /activities/{activityId} {
      allow read, write: if true;
    }
    match /students/{studentId} {
      allow read, write: if true;
    }
    match /banners/{bannerId} {
      allow read, write: if true;
    }
    match /mainAds/{adId} {
      allow read, write: if true;
    }
    match /centralAnnouncement/{docId} {
      allow read, write: if true;
    }
    match /sideAds/{docId} {
      allow read, write: if true;
    }
    match /recoveryRequests/{reqId} {
      allow read, write: if true;
    }
  }
}
